aiohappyeyeballs==2.4.3 ; python_version >= "3.12" and python_version < "3.13"
aiohttp==3.10.9 ; python_version >= "3.12" and python_version < "3.13"
aiosignal==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
altair==5.4.1 ; python_version >= "3.12" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "3.13"
anthropic==0.36.0 ; python_version >= "3.12" and python_version < "3.13"
anyio==4.6.0 ; python_version >= "3.12" and python_version < "3.13"
asgiref==3.8.1 ; python_version >= "3.12" and python_version < "3.13"
attrs==24.2.0 ; python_version >= "3.12" and python_version < "3.13"
azure-core==1.31.0 ; python_version >= "3.12" and python_version < "3.13"
azure-identity==1.19.0 ; python_version >= "3.12" and python_version < "3.13"
backoff==1.11.1 ; python_version >= "3.12" and python_version < "3.13"
bcrypt==4.2.0 ; python_version >= "3.12" and python_version < "3.13"
beautifulsoup4==4.12.3 ; python_version >= "3.12" and python_version < "3.13"
blinker==1.8.2 ; python_version >= "3.12" and python_version < "3.13"
boto3==1.34.162 ; python_version >= "3.12" and python_version < "3.13"
botocore==1.34.162 ; python_version >= "3.12" and python_version < "3.13"
build==1.2.2.post1 ; python_version >= "3.12" and python_version < "3.13"
cachetools==5.5.0 ; python_version >= "3.12" and python_version < "3.13"
captcha==0.6.0 ; python_version >= "3.12" and python_version < "3.13"
certifi==2024.8.30 ; python_version >= "3.12" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.0 ; python_version >= "3.12" and python_version < "3.13"
chroma-hnswlib==0.7.6 ; python_version >= "3.12" and python_version < "3.13"
chromadb==0.5.12 ; python_version >= "3.12" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.12" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.13"
coloredlogs==15.0.1 ; python_version >= "3.12" and python_version < "3.13"
contourpy==1.3.0 ; python_version >= "3.12" and python_version < "3.13"
cryptography==43.0.1 ; python_version >= "3.12" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.12" and python_version < "3.13"
dataclasses-json==0.6.7 ; python_version >= "3.12" and python_version < "3.13"
defusedxml==0.7.1 ; python_version >= "3.12" and python_version < "3.13"
deprecated==1.2.14 ; python_version >= "3.12" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.12" and python_version < "3.13"
durationpy==0.9 ; python_version >= "3.12" and python_version < "3.13"
entrypoints==0.4 ; python_version >= "3.12" and python_version < "3.13"
extra-streamlit-components==0.1.71 ; python_version >= "3.12" and python_version < "3.13"
faker==30.3.0 ; python_version >= "3.12" and python_version < "3.13"
fastapi==0.115.0 ; python_version >= "3.12" and python_version < "3.13"
favicon==0.7.0 ; python_version >= "3.12" and python_version < "3.13"
filelock==3.16.1 ; python_version >= "3.12" and python_version < "3.13"
flashrank==0.2.9 ; python_version >= "3.12" and python_version < "3.13"
flatbuffers==24.3.25 ; python_version >= "3.12" and python_version < "3.13"
fonttools==4.54.1 ; python_version >= "3.12" and python_version < "3.13"
frozenlist==1.4.1 ; python_version >= "3.12" and python_version < "3.13"
fsspec==2024.9.0 ; python_version >= "3.12" and python_version < "3.13"
fuzzywuzzy==0.18.0 ; python_version >= "3.12" and python_version < "3.13"
gitdb==4.0.11 ; python_version >= "3.12" and python_version < "3.13"
gitpython==3.1.43 ; python_version >= "3.12" and python_version < "3.13"
google-auth==2.35.0 ; python_version >= "3.12" and python_version < "3.13"
googleapis-common-protos==1.65.0 ; python_version >= "3.12" and python_version < "3.13"
greenlet==3.0.3 ; python_version < "3.13" and python_version >= "3.12"
groq==0.11.0 ; python_version >= "3.12" and python_version < "3.13"
grpcio==1.66.2 ; python_version >= "3.12" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.12" and python_version < "3.13"
htbuilder==0.6.2 ; python_version >= "3.12" and python_version < "3.13"
httpcore==1.0.6 ; python_version >= "3.12" and python_version < "3.13"
httptools==0.6.1 ; python_version >= "3.12" and python_version < "3.13"
httpx==0.27.2 ; python_version >= "3.12" and python_version < "3.13"
huggingface-hub==0.25.2 ; python_version >= "3.12" and python_version < "3.13"
humanfriendly==10.0 ; python_version >= "3.12" and python_version < "3.13"
idna==3.10 ; python_version >= "3.12" and python_version < "3.13"
importlib-metadata==8.4.0 ; python_version >= "3.12" and python_version < "3.13"
importlib-resources==6.4.5 ; python_version >= "3.12" and python_version < "3.13"
jinja2==3.1.4 ; python_version >= "3.12" and python_version < "3.13"
jiter==0.6.1 ; python_version >= "3.12" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.12" and python_version < "3.13"
joblib==1.4.2 ; python_version >= "3.12" and python_version < "3.13"
jsonpatch==1.33 ; python_version >= "3.12" and python_version < "3.13"
jsonpointer==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
jsonschema-specifications==2024.10.1 ; python_version >= "3.12" and python_version < "3.13"
jsonschema==4.23.0 ; python_version >= "3.12" and python_version < "3.13"
kiwisolver==1.4.7 ; python_version >= "3.12" and python_version < "3.13"
kubernetes==31.0.0 ; python_version >= "3.12" and python_version < "3.13"
langchain-anthropic==0.1.23 ; python_version >= "3.12" and python_version < "3.13"
langchain-aws==0.1.18 ; python_version >= "3.12" and python_version < "3.13"
langchain-chroma==0.1.4 ; python_version >= "3.12" and python_version < "3.13"
langchain-cli==0.0.28 ; python_version >= "3.12" and python_version < "3.13"
langchain-community==0.2.17 ; python_version >= "3.12" and python_version < "3.13"
langchain-core==0.2.41 ; python_version >= "3.12" and python_version < "3.13"
langchain-experimental==0.0.63 ; python_version >= "3.12" and python_version < "3.13"
langchain-groq==0.1.10 ; python_version >= "3.12" and python_version < "3.13"
langchain-huggingface==0.0.3 ; python_version >= "3.12" and python_version < "3.13"
langchain-openai==0.1.25 ; python_version >= "3.12" and python_version < "3.13"
langchain-text-splitters==0.2.4 ; python_version >= "3.12" and python_version < "3.13"
langchain==0.2.16 ; python_version >= "3.12" and python_version < "3.13"
langgraph-checkpoint==2.0.1 ; python_version >= "3.12" and python_version < "3.13"
langgraph==0.2.34 ; python_version >= "3.12" and python_version < "3.13"
langserve==0.2.3 ; python_version >= "3.12" and python_version < "3.13"
langserve[all]==0.2.3 ; python_version >= "3.12" and python_version < "3.13"
langsmith==0.1.132 ; python_version >= "3.12" and python_version < "3.13"
levenshtein==0.25.1 ; python_version >= "3.12" and python_version < "3.13"
libcst==1.4.0 ; python_version >= "3.12" and python_version < "3.13"
lxml==5.3.0 ; python_version >= "3.12" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
markdown==3.7 ; python_version >= "3.12" and python_version < "3.13"
markdownlit==0.0.7 ; python_version >= "3.12" and python_version < "3.13"
markupsafe==3.0.1 ; python_version >= "3.12" and python_version < "3.13"
marshmallow==3.22.0 ; python_version >= "3.12" and python_version < "3.13"
matplotlib==3.9.2 ; python_version >= "3.12" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.13"
mmh3==5.0.1 ; python_version >= "3.12" and python_version < "3.13"
monotonic==1.6 ; python_version >= "3.12" and python_version < "3.13"
more-itertools==10.5.0 ; python_version >= "3.12" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.12" and python_version < "3.13"
msal-extensions==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
msal==1.31.0 ; python_version >= "3.12" and python_version < "3.13"
msgpack==1.1.0 ; python_version >= "3.12" and python_version < "3.13"
multidict==6.1.0 ; python_version >= "3.12" and python_version < "3.13"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
narwhals==1.9.2 ; python_version >= "3.12" and python_version < "3.13"
networkx==3.3 ; python_version >= "3.12" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "3.13"
nvidia-cublas-cu12==12.1.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-cuda-runtime-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-cudnn-cu12==9.1.0.70 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-curand-cu12==10.3.2.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-nccl-cu12==2.20.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-nvjitlink-cu12==12.6.77 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12" and python_version < "3.13"
oauthlib==3.2.2 ; python_version >= "3.12" and python_version < "3.13"
onnxruntime==1.19.2 ; python_version >= "3.12" and python_version < "3.13"
openai==1.51.2 ; python_version >= "3.12" and python_version < "3.13"
opencv-python==4.10.0.84 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-api==1.27.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-grpc==1.11.1 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-instrumentation-asgi==0.48b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-instrumentation-fastapi==0.48b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-instrumentation==0.48b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-proto==1.11.1 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-sdk==1.27.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-semantic-conventions==0.48b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-util-http==0.48b0 ; python_version >= "3.12" and python_version < "3.13"
orjson==3.10.7 ; python_version >= "3.12" and python_version < "3.13"
overrides==7.7.0 ; python_version >= "3.12" and python_version < "3.13"
packaging==24.1 ; python_version >= "3.12" and python_version < "3.13"
pandas==2.2.3 ; python_version >= "3.12" and python_version < "3.13"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "3.13"
playwright==1.47.0 ; python_version >= "3.12" and python_version < "3.13"
plotly==5.24.1 ; python_version >= "3.12" and python_version < "3.13"
portalocker==2.10.1 ; python_version >= "3.12" and python_version < "3.13"
posthog==3.7.0 ; python_version >= "3.12" and python_version < "3.13"
prometheus-client==0.21.0 ; python_version >= "3.12" and python_version < "3.13"
propcache==0.2.0 ; python_version >= "3.12" and python_version < "3.13"
protobuf==5.28.2 ; python_version >= "3.12" and python_version < "3.13"
pyarrow==17.0.0 ; python_version >= "3.12" and python_version < "3.13"
pyasn1-modules==0.4.1 ; python_version >= "3.12" and python_version < "3.13"
pyasn1==0.6.1 ; python_version >= "3.12" and python_version < "3.13"
pyclipper==1.3.0.post5 ; python_version >= "3.12" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
pydantic-core==2.23.4 ; python_version >= "3.12" and python_version < "3.13"
pydantic==2.9.2 ; python_version >= "3.12" and python_version < "3.13"
pydeck==0.9.1 ; python_version >= "3.12" and python_version < "3.13"
pyee==12.0.0 ; python_version >= "3.12" and python_version < "3.13"
pygments==2.18.0 ; python_version >= "3.12" and python_version < "3.13"
pyjwt==2.9.0 ; python_version >= "3.12" and python_version < "3.13"
pyjwt[crypto]==2.9.0 ; python_version >= "3.12" and python_version < "3.13"
pymdown-extensions==10.11.2 ; python_version >= "3.12" and python_version < "3.13"
pymupdf==1.24.11 ; python_version >= "3.12" and python_version < "3.13"
pyparsing==3.1.4 ; python_version >= "3.12" and python_version < "3.13"
pypika==0.48.9 ; python_version >= "3.12" and python_version < "3.13"
pyproject-hooks==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
pyproject-toml==0.0.10 ; python_version >= "3.12" and python_version < "3.13"
pyreadline3==3.5.4 ; sys_platform == "win32" and python_version >= "3.12" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.13"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "3.13"
python-levenshtein==0.25.1 ; python_version >= "3.12" and python_version < "3.13"
pytz==2024.2 ; python_version >= "3.12" and python_version < "3.13"
pywin32==307 ; python_version >= "3.12" and python_version < "3.13" and platform_system == "Windows"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "3.13"
rapidfuzz==3.10.0 ; python_version >= "3.12" and python_version < "3.13"
rapidocr-onnxruntime==1.3.24 ; python_version >= "3.12" and python_version < "3.13"
referencing==0.35.1 ; python_version >= "3.12" and python_version < "3.13"
regex==2024.9.11 ; python_version >= "3.12" and python_version < "3.13"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.12" and python_version < "3.13"
rich==13.9.2 ; python_version >= "3.12" and python_version < "3.13"
rpds-py==0.20.0 ; python_version >= "3.12" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.12" and python_version < "3.13"
s3transfer==0.10.3 ; python_version >= "3.12" and python_version < "3.13"
safetensors==0.4.5 ; python_version >= "3.12" and python_version < "3.13"
scikit-learn==1.5.2 ; python_version >= "3.12" and python_version < "3.13"
scipy==1.14.1 ; python_version >= "3.12" and python_version < "3.13"
sentence-transformers==3.1.1 ; python_version >= "3.12" and python_version < "3.13"
setuptools==75.1.0 ; python_version >= "3.12" and python_version < "3.13"
shapely==2.0.6 ; python_version >= "3.12" and python_version < "3.13"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
smmap==5.0.1 ; python_version >= "3.12" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
soupsieve==2.6 ; python_version >= "3.12" and python_version < "3.13"
sqlalchemy==2.0.35 ; python_version >= "3.12" and python_version < "3.13"
sse-starlette==1.8.2 ; python_version >= "3.12" and python_version < "3.13"
st-annotated-text==4.0.1 ; python_version >= "3.12" and python_version < "3.13"
st-theme==1.2.3 ; python_version >= "3.12" and python_version < "3.13"
starlette==0.38.6 ; python_version >= "3.12" and python_version < "3.13"
streamlit-authenticator==0.4.1 ; python_version >= "3.12" and python_version < "3.13"
streamlit-camera-input-live==0.2.0 ; python_version >= "3.12" and python_version < "3.13"
streamlit-card==1.0.2 ; python_version >= "3.12" and python_version < "3.13"
streamlit-embedcode==0.1.2 ; python_version >= "3.12" and python_version < "3.13"
streamlit-extras==0.4.7 ; python_version >= "3.12" and python_version < "3.13"
streamlit-faker==0.0.3 ; python_version >= "3.12" and python_version < "3.13"
streamlit-image-coordinates==0.1.9 ; python_version >= "3.12" and python_version < "3.13"
streamlit-keyup==0.2.4 ; python_version >= "3.12" and python_version < "3.13"
streamlit-shadcn-ui==0.1.18 ; python_version >= "3.12" and python_version < "3.13"
streamlit-toggle-switch==1.0.2 ; python_version >= "3.12" and python_version < "3.13"
streamlit-vertical-slider==2.5.5 ; python_version >= "3.12" and python_version < "3.13"
streamlit==1.39.0 ; python_version >= "3.12" and python_version < "3.13"
sympy==1.13.3 ; python_version >= "3.12" and python_version < "3.13"
tenacity==8.5.0 ; python_version >= "3.12" and python_version < "3.13"
threadpoolctl==3.5.0 ; python_version >= "3.12" and python_version < "3.13"
tiktoken==0.8.0 ; python_version >= "3.12" and python_version < "3.13"
tokenizers==0.20.0 ; python_version >= "3.12" and python_version < "3.13"
toml==0.10.2 ; python_version >= "3.12" and python_version < "3.13"
tomlkit==0.12.5 ; python_version >= "3.12" and python_version < "3.13"
torch==2.4.1 ; python_version >= "3.12" and python_version < "3.13"
tornado==6.4.1 ; python_version >= "3.12" and python_version < "3.13"
tqdm==4.66.5 ; python_version >= "3.12" and python_version < "3.13"
transformers==4.45.2 ; python_version >= "3.12" and python_version < "3.13"
triton==3.0.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version < "3.13" and python_version >= "3.12"
typer==0.9.4 ; python_version >= "3.12" and python_version < "3.13"
typer[all]==0.9.4 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_version < "3.13"
tzdata==2024.2 ; python_version >= "3.12" and python_version < "3.13"
urllib3==2.2.3 ; python_version >= "3.12" and python_version < "3.13"
uvicorn==0.23.2 ; python_version >= "3.12" and python_version < "3.13"
uvicorn[standard]==0.23.2 ; python_version >= "3.12" and python_version < "3.13"
uvloop==0.20.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.12" and python_version < "3.13"
validators==0.34.0 ; python_version >= "3.12" and python_version < "3.13"
watchdog==4.0.2 ; python_version >= "3.12" and python_version < "3.13"
watchfiles==0.24.0 ; python_version >= "3.12" and python_version < "3.13"
websocket-client==1.8.0 ; python_version >= "3.12" and python_version < "3.13"
websockets==13.1 ; python_version >= "3.12" and python_version < "3.13"
wheel==0.44.0 ; python_version >= "3.12" and python_version < "3.13"
wrapt==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
yarl==1.14.0 ; python_version >= "3.12" and python_version < "3.13"
zipp==3.20.2 ; python_version >= "3.12" and python_version < "3.13"
