@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body * {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

.stApp > header {
    background-color: transparent;
}

.block-container {
    max-width: 1000px;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

button[title="View fullscreen"] {
    display: none;
}

section[data-testid="stSidebar"] {
    width: 350px !important;
}

section[data-testid="stSidebar"] .stHorizontalBlock:last-child {
    position: absolute;
    top: calc(100vh - 100%);
    width: 100%;
}